BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
ConstructorInitializerIndentWidth: 2
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: true
IncludeBlocks: Preserve
IncludeIsMainRegex: '(Test|Tests?)(\.cpp|\.h)$'
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentGotoLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 1
Cpp11BracedListStyle: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false